root = true

[*]
end_of_line = lf

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = silent

# IDE0251: Make member 'readonly'
dotnet_diagnostic.IDE0251.severity = silent

# Enable XML documentation warnings only for source code
[src/**/*.cs]
dotnet_diagnostic.CS1591.severity = warning
